p{
    font-size: 20px;
}
#desc{
    background-color: #f8f9fa;
}
#xdd{
    padding-left: 60px;
    padding-right: 60px;
}
.bg-no-overlay {
    background: url("w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    max-height: 100%;
    padding-top: 50px;
    max-width: 1920px;
    margin: 0px;
}
#jumbo{
    margin-bottom: 0; 
    background-image: url(w.jpg);
    max-height: 500px;
    color: white;
}
